.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #636363;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #383838;
    padding: 2rem;
    width: 500px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

